.admin-dashboard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  padding: 0 20px;
  &__buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 120px;
    justify-content: space-around;
    background-color: #d3d3d3;
    border-radius: 10px;
    padding: 8px 5px;
    margin: 13px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    opacity: 0.8;
    color: #040e20;
    &:hover {
      background-color: #00000070;
      color: #e9e9e9;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7432);
      transform: scale(1.05);
      opacity: 1;
    }
    &--text {
      display: none;
    }
    @media screen and (min-width: 768px) {
      margin: 10px;
      padding: 1px 4px;
      &--text {
        display: inline-block;
        color: #000;
      }
    }
    @media screen and (min-width: 420px) {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 3px;
    }
  }
  &__products {
    position: relative;
    display: flex;
    flex-direction: column;
    &__create-button {
      position: absolute;
      top: 0;
      left: 36px;
      z-index: 300;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 95px;
      justify-content: space-around;
      background-color: #d3d3d3;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      opacity: 0.8;
      padding: 0.1rem 0.5rem;
      color: #040e20;
      &:hover {
        background-color: #a4ffaa15;
        box-shadow: 0px 0px 5px 0px rgba(35, 40, 32, 0.297);
        transform: scale(1.01);
        opacity: 1;
      }
      &--text {
        color: #313131;
        font-weight: 600;
        &:hover {
          color: #000;
        }
      }
    }
    &__create-button-close {
      position: absolute;
      top: 0;
      left: 36px;
      z-index: 300;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 95px;
      justify-content: space-around;
      background-color: #d1afaf;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      opacity: 0.8;
      padding: 0 0.15rem;
      color: #040e20;
      &:hover {
        background-color: #ff5f5f1b;
        box-shadow: 0px 0px 5px 0px rgba(255, 0, 0, 0.183);
        transform: scale(1.01);
        opacity: 1;
      }
      &--text {
        color: #313131;
        font-weight: 600;
        &:hover {
          color: #261414;
        }
      }
    }
  }
  @media screen and (min-width: 440px) {
    width: 90%;
  }
  @media screen and (min-width: 768px) {
    width: 400px;
    padding: 0;
    justify-content: space-between;
  }
}
.admin-dashboard-create-product {
  position: absolute;
  top: 220px;
  left: 26px;
  z-index: 300;
}
