//main colors
$bg_light: #F7F1E5;
$components_light: #4C4B16;
$letters_light: #898121;

$bg_dark: #1C1C1C;
$components_dark: #4C4B16;
$letters_dark: #898121;

$shadow_dark: #00000064;
$shadow_light: #00000017;

$bg_add: #219900f0;
$bg_add_hover: #21990066;
$bg_add_light: #2199008f;

$bg_delete: #ff0a0af0;
$bg_delete_hover: #ff000066;
$bg_delete_light: #ff00008f;
$bg_delete_active: #ff0000;

$bg_edit: #219900f0;
$bg_edit_light: #21990066;

$font_family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;