//main colors
$bg_light: #F7F1E5;
$components_light: #4C4B16;
$letters_light: #898121;

$bg_dark: #1C1C1C;
$components_dark: #4C4B16;
$letters_dark: #898121;


$font_family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;