.productId {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  &__change-product-notice,
  &__set-product {
    position: absolute;
    top: 25px;
    right: 10px;
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #252525;
    text-align: center;
  }
  &__new-product {
    position: absolute;
    top: 25px;
    left: 10px;
    width: 98%;
    height: 100%;
    margin: auto;
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #252525;
    text-align: center;
    z-index: 200;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    &__info{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      &__image{
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background-color: #fff;
      }
      &__content{
        text-align: left;
      }
    }
    &__buttons{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      background-color: #ffffff5e;
      border-radius: 15px;
      width: 300px;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      &__button{
        margin: 0 10px;
      }
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
    &__info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      &__name {
        font-size: 2rem;
        font-weight: 600;
        margin: 10px 0;
        @media screen and (max-width: 768px) {
          text-align: right;
        }
      }
      &__description {
        margin: 10px 0;
        @media screen and (max-width: 768px) {
          text-align: center;
        }
      }
      &__small-details {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        padding: 15px 4px;
        border-radius: 3px;
        box-shadow: 1px 1px 5px 1px #8484840d, 0 0 0 1px #8484840d, inset 0 0 0 1px #8484840d;
        &--size {
          position: relative;
        }
        &--blocks {
          position: absolute;
          top: 55px;
          left: -22px;
          width: 160px;
          background-color: #fff;
          border-radius: 3px;
          box-shadow: 1px 1px 5px 1px #8484840d, 0 0 0 1px #8484840d, inset 0 0 0 1px #8484840d;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
        }
        &--variant {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          &--color {
            position: absolute;
            top: 5px;
            right: 30px;
          }
          &--blocks {
            position: absolute;
            top: 50px;
            right: -80px;
            width: 200px;
            border-radius: 3px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
          }
        }
      }
    }
  }
  &__recommended {
    width: 100%;
    text-align: center;
    border-radius: 5px;
    h3 {
      font-size: 2rem;
      font-weight: 600;
      margin: 10px 0;
    }
    @media screen and (min-width: 768px) {
      width: 80%;
      margin: 0 auto;
    }
    &__items {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      &__content {
        margin: 20px 30px;
        &__img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
