.productId {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  &__change-product-notice,
  &__set-product {
    position: absolute;
    top: 25px;
    right: 10px;
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #252525;
    text-align: center;
  }
  &__new-product {
    position: absolute;
    top: 25px;
    left: 10px;
    width: 98%;
    height: 100%;
    margin: auto;
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #252525;
    text-align: center;
    z-index: 200;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    &__info {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      &__image {
        width: 80%;
        border-radius: 10px;
        margin-right: 150px;
      }
      &__content {
        text-align: left;
        width: 100%;
      }
    }
    &__buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
      border-radius: 5px;
      width: 300px;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      transition: all 0.3s ease;
      &:hover {
        background-color: #eaeaea;
        filter: blur(0.5px);
        transform: scale(1.02);
        transform: rotateY(30deg);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.21);
      }
      &--send {
        background-color: #3d9200bc;
        box-shadow: 0 0 5px 0 #3d9200bc;
        color: #d8d8d8;
        padding: 6px 30px;
        border-radius: 5px;
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          transform: scale(1.1);
          background-color: #2f6f00;
          color: #ffffff;
        }
      }
      &--cancel {
        background-color: #ff0000bc;
        box-shadow: 0 0 5px 0 #ff0000bc;
        color: #d8d8d8;
        padding: 6px 25px;
        border-radius: 5px;
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          transform: scale(1.1);
          background-color: #ff0000;
          color: #ffffff;
        }
      }
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
    &__info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      &__name {
        font-size: 2rem;
        font-weight: 600;
        margin: 10px 0;
        @media screen and (max-width: 768px) {
          text-align: right;
        }
      }
      &__description {
        margin: 10px 0;
        @media screen and (max-width: 768px) {
          text-align: center;
        }
      }
      &__small-details {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 15px 4px;
        border-radius: 3px;
        box-shadow: 1px 1px 5px 1px #8484840d, 0 0 0 1px #8484840d, inset 0 0 0 1px #8484840d;
        &--size {
          position: relative;
        }
        &--categories {
          font-size: 20px;
          font-weight: 600;
          margin: 0 10px;
        }
        &--blocks {
          position: absolute;
          top: 55px;
          right: -90px;
          width: 300px;
          box-shadow: 0 0 10px 0 #acacac5f;
          border-radius: 5px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-wrap: wrap;
          z-index: 100;
        }
        &--variant {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          &--color {
            position: absolute;
            top: 5px;
            right: 30px;
          }
          &--blocks {
            position: absolute;
            top: 50px;
            right: -80px;
            width: 200px;
            border-radius: 3px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
          }
        }
      }
    }
  }
  &__recommended {
    width: 100%;
    border-radius: 5px;
    &--text {
      font-size: 2rem;
      font-weight: 600;
      width: 50%;
      text-align: center;
    }
    @media screen and (min-width: 768px) {
      width: 80%;
      margin: 0 auto;
    }
    &__items {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      text-align: center;
      border-radius: 6px;
      &__content {
        margin: 20px 30px;
        transform: scale(0.9);
        transition: all 0.3s ease;
          &:hover{
            transform: scale(1.05);
          }
        &--img {
          width: 100%;
          height: 100%;
        }
        &--price {
          font-size: 1.1rem;
          font-weight: 600;
          transition: all 0.3s ease;
          &:hover {
            cursor: pointer;
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
