@import '../../styles/mixins';
@import '../../styles/colors';
.profile {
  position: relative;
  width: 100%;
  height: 100%;
  &__edit-button {
    position: absolute;
    top: 0;
    right: 2%;
    @include customButton($bg_light, $components_dark, $letters_dark);
  }
  &__edit-form {
    position: absolute;
    top: 70px;
    left: 18%;
    padding: 10px 40px 10px 20px; 
    background-color: #dedede;
    border-radius: 15px;
    box-shadow: 0 0 500px 0 #000000b8;
    z-index: 100;
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      &__input {
        margin: auto;
      }
      &__button {
        margin: 10px auto;
        @include customButton($bg_light, $components_dark, $letters_dark);
      }
      &--cancel {
        position: absolute;
        bottom: 20px;
        right: 30px;
        font-size: 22px;
        font-weight: 600;
        color: $bg_light;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px 5px;
        background-color: red;
        border-radius: 5px;
        &:hover {
          color: #d8d8d8;
          background-color:  $components_dark;
          box-shadow: 0px 0px 5px 1px #0000000d;
        }
      }
      &__small{
        width: 62%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 2px 5px auto;
      }
    }
  }
  &__data {
    position: relative;
    display: flex;
    width: 96%;
    height: 100%;
    justify-content: space-between;
    margin: 30px auto 10px auto;
    box-shadow: 0 0 10px 0 #0000000d;
    border-radius: 15px;
    background-color: red;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      width: 100%;
    }
    &__image-and-info {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__image {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 5px;
        left: 5px;
        @media screen and (max-width: 768px) {
          width: 80px;
          height: 80px;
          top: 0;
          left: 0;
        }
      }
      &__item {
        width: 50%;
        background-color: #ebebeb71;
        margin: 10px 0;
        display: flex;
        align-items: center;
        padding: 2px 10px;
        border-radius: 8px;
        box-shadow: 0 0 10px 0 #0000000d;
        &--icon {
          width: 20%;
        }
      }
    }
    &__payment-info {
      position: relative;
      width: 100%;
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__item {
        width: 50%;
        background-color: #ebebeb71;
        margin: 10px 0;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border-radius: 8px;
        box-shadow: 0 0 10px 0 #0000000d;
        &--icon {
          width: 20%;
        }
      }
      &__button {
        position: absolute;
        bottom: 10px;
        right: 10px;
        @include customButton($bg_light, $components_dark, $letters_dark);
      }
    }
  }
}
