.navbar {
  position: relative;
  width: 94%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 20px 2%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  &__navbar-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__navbar-right {
    display: none;
    padding: 0.5rem auto;
    min-width: 350px;
    &__links {
      margin: 0 0.5rem;
      text-decoration: none;
      font-size: 1.1rem;
      font-weight: bolder;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: #ffb300;
        cursor: pointer;
        font-size: 1.11rem;
        transform: scale(1.1);
      }
      &--login {
        font-weight: bold;
        border: 1px solid #ffb300;
        border-radius: 0.25rem;
        padding: 0.15rem 1rem;
        background-color: #ffb3003a;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: #ffb30081;
          cursor: pointer;
          transform: scale(1.1);
          box-shadow: 0 0 2px 0 #ffffff;
        }
      }
      &__cart {
        position: relative;
        width: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navbar-cart {
          position: relative;
          &__total {
            position: absolute;
            top: 60px;
            right: 515px;
            font-size: 1.2rem;
            font-weight: 500;
            z-index: 100;
            width: 115px;
            text-align: center;
            background-color: #e5e5e5;
            border-radius: 5px;
            z-index: 100;
            transition: all 0.3s ease-in-out;
            &--hidden {
              display: none;
            }
            &:hover {
              background-color: #b8b8b8;
            }
            &--close {
              background-color: #ff000066;
              width: 100%;
              border-radius: 5px;
              z-index: 100;
              &:hover {
                background-color: #ff0000;
                cursor: pointer;
                box-shadow: inset 0 0 10px 0 #000000;
              }
            }
            &--text {
              font-weight: bolder;
              color: #2e2e2e;
            }
            &--price {
              font-weight: bolder;
              color: #3c3c3c;
            }
            &--link {
              width: 100%;
              &__icon {
                color: #8e8e8e;
                transition: all 0.3s ease-in-out;
                &:hover {
                  color: #232323;
                  border-radius: 3px;
                  box-shadow: 0 1px 5px 0 #000000;
                  transform: scale(1.2);
                }
              }
            }
          }
          &__close {
            position: absolute;
            top: 60px;
            right: 630px;
            font-size: 1.2rem;
            font-weight: 500;
            z-index: 100;
            padding: 0 10px;
            text-align: center;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-top-right-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            &--hidden {
              display: none;
            }
            &:hover {
              cursor: pointer;
            }
          }
          &__icon {
            font-size: 1.5rem;
            color: #262626;
            transition: all 0.3s ease-in-out;
            &:hover {
              cursor: pointer;
            }
          }
          &__amount {
            position: absolute;
            top: -8px;
            right: -10px;
            font-size: 1.2rem;
            font-weight: 500;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: #d5d5d5;
            background-color: #ff0000ec;
            border: 1px solid #ff0000;
            box-shadow: 0 0 4px 0 #ff0000;
            &--over {
              position: absolute;
              top: -8px;
              right: -15px;
              font-size: 1.2rem;
              font-weight: 500;
            }
          }
          &__cart {
            display: block;
            position: absolute;
            top: 60px;
            right: 10px;
            min-width: 530px;
            min-height: 0px;
            max-height: 400px;
            overflow-y: scroll;
            border-radius: 5px;
            z-index: 100;
            transform: translateX(25px);
            transition: all 0.63s ease-in-out;
            &--hidden {
              display: none;
            }
          }
        }
        .navbar-wishes {
          position: relative;
          cursor: pointer;
          &__cart {
            display: block;
            &--empty {
              display: block;
              width: fit-content;
              height: 25px;
              background-color: #d50000;
              color: #fff;
              text-align: center;
              font-size: 1.2rem;
              font-weight: 500;
              padding: 0.5rem 1rem;
              border-radius: 5px;
              margin: 0.5rem auto;
              box-shadow: 0 0 4px 0 #ff0000;
            }
          }
          &__amount {
            position: absolute;
            top: -6px;
            right: -11px;
            font-size: 1.2rem;
            font-weight: 500;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #d5d5d5;
            background-color: #ff0000ec;
            border: 1px solid #ff0000;
            box-shadow: 0 0 4px 0 #ff0000;
          }
        }
      }
    }
    @media (min-width: 768px) {
      width: 35%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__navbar_mobile {
    display: block;
    font-size: 1.5rem;
    @media (min-width: 768px) {
      display: none;
    }
    &__view {
      position: absolute;
      top: 60px;
      right: 0;
      z-index: 100;
      width: 100%;
      height: 100vh;
      background-color: #bd8888;
      &__user {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 1rem 0;
        width: 50%;
        &--avatar {
          width: 100%;
          height: 100%;
          img {
            object-fit: cover;
            border-radius: 12%;
            margin-left: 10px;
            border: 1px solid #1f17039a;
          }
        }
        &--name {
          font-size: 1.5rem;
          font-weight: 500;
          width: 250px;
          height: 1.5rem;
        }
        &--email {
          font-size: 1rem;
          font-weight: 400;
          margin: 0.15rem 0;
          width: 200px;
        }
        &--cart {
          background-color: #ffb300;
          position: absolute;
          top: 0;
          right: -180px;
        }
      }
      &__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &--item {
          color: #262626;
          font-size: 2rem;
          margin: 1rem 0;
          &--login {
            color: #523900;
            border: 1px solid #ffb300;
            border-radius: 0.25rem;
            padding: 0.15rem 0.51rem;
            background-color: #ffb3003a;
            transition: all 0.3s ease-in-out;
            &:hover {
              color: #6c6c6c;
              background-color: #ffb300;
            }
          }
          &--cart {
            .navbar-cart {
              position: relative;
              &__icon {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 2rem;
                color: #262626;
                transition: all 0.3s ease-in-out;
                &:hover {
                  cursor: pointer;
                }
              }
              &__amount {
                position: absolute;
                top: -4px;
                right: -10px;
                font-size: 1.2rem;
                @media screen and (max-width: 768px) {
                  color: red;
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes mover {
  0% {
    top: -150px;
  }
  50% {
    top: 20%;
  }
  100% {
    top: -240px;
  }
}
