.view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-radius: 6px;
  position: absolute;
  top: 86px;
  right: -78px;
  width: 96vw;
  height: 78vh;
  z-index: 100;
  &__clear-list {
    position: absolute;
    top: 5px;
    right: 50%;
    z-index: 1000;
    background-color: #ffffff;
    color: #ff0000;
    border-radius: 5px;
    border: 1px solid #ff0000;
    padding: 4px 10px;
    opacity: 0.8;
    font-weight: bold;
    &:hover {
      background-color: #ff0000;
      border: 1px solid #ff0000;
      color: #ffff;
      box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(255, 0, 0, 0.49);
      transform: scale(1.02);
    }
  }
  &__products {
    position: relative;
    width: 60%;
    min-height: 50%;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background-color: #d6d6d62b;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #919191;
      box-shadow: 0 0 10px 0 #000000;
    }
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 320px;
      height: 100px;
      margin: 0 auto;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.072);
      border-radius: 5px;
      margin: 5px auto;
      transform: scale(0.96);
      transition: all 0.3s ease-in-out;
      background-color: #d6d6d62b;
      border: 1px solid #e3e3e33b;
      &:hover {
        background-color: #96969652;
        border: 1px solid #e3e3e36e;
        transform: scale(1);
        transform: rotateX(5deg);
      }
      &--image {
        width: 120px;
        height: 100px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &--buttons {
        width: 180px;
        height: 90px;
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 5px;
        &__buy {
          background-color: #36a4605a;
          border: none;
          outline: none;
          padding: 4px 20px;
          border-radius: 5px;
          color: #4a4a4a;
          font-weight: 700;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: #252525;
            background-color: #36a460aa;
            box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.32), 0 0 10px 0 #325b007d;
            transform: scale(1.02);
          }
        }
        &__remove {
          background-color: #ff0000dd;
          border: none;
          outline: none;
          padding: 5px 12px;
          border-radius: 5px;
          color: #ffffff;
          font-weight: 700;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          display: flex;
          align-items: center;
          &:hover {
            background-color: #ff0000;
            border: 1px solid #ff0000;
            box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(255, 0, 0, 0.49);
            transform: scale(1.02);
          }
        }
      }
    }
  }
  &__content {
    width: 40%;
    height: 100%;
    text-align: center;
    &__information {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-weight: 700;
      &--description {
        width: 80%;
        height: 100px;
      }
      &__small-info {
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &--name,
        &--categories,
        &--price {
          font-size: 1.2rem;
          background-color: #ffffff;
          color: #000000;
          border-radius: 5px;
          border: 1px solid #000000;
          padding: 5px 10px;
          margin: 5px;
          cursor: pointer;
          opacity: 0.8;
          font-weight: bold;
        }
        &--variants {
          width: 70%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-wrap: wrap;
          margin-top: 20px;
          color: #000000;
          &__item {
            background-color: #ffffff;
            border-radius: 5px;
            border: 1px solid #000000;
            padding: 4px 10px;
            opacity: 0.8;
            font-weight: bold;
          }
        }
      }
    }
  }
}
.view-empty {
  background-color: #ff0000;
  position: absolute;
  top: 60px;
  right: -80px;
  width: 300px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.42);
  border: 1px solid #ff5b5b;
  color: #e9e9e9;
  z-index: 100;
}
