.navbar {
  display: none;
  padding: 0.5rem auto;
  min-width: 350px;
  &__links {
    margin: 0 0.5rem;
    text-decoration: none;
    color: #262626;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: #ffb300;
    }
    &--login {
      color: #523900;
      border: 1px solid #ffb300;
      border-radius: 0.25rem;
      padding: 0.15rem 0.51rem;
      background-color: #ffb3003a;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: #262626;
        background-color: #ffb300;
        cursor: pointer;
      }
    }
    &__cart {
      position: relative;
      .navbar-cart {
        width: 100%;
        height: 100%;
        position: relative;;
        &__total {
          position: absolute;
          top: 60px;
          right: 495px;
          font-size: 1.2rem;
          font-weight: 500;
          z-index: 100;
          width: 115px;
          text-align: center;
          background-color: #6c6c6c;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          border-top-right-radius: 5px;
          &--hidden {
            display: none;
          }
        }
        &__icon {
          font-size: 1.5rem;
          color: #262626;
          transition: all 0.3s ease-in-out;
          &:hover {
            cursor: pointer;
          }
        }
        &__amount {
          position: absolute;
          top: -8px;
          right: -10px;
          font-size: 1.2rem;
          font-weight: 500;
          &--over {
            position: absolute;
            top: -8px;
            right: -15px;
            font-size: 1.2rem;
            font-weight: 500;
          }
        }
        &__cart {
          display: block;
          position: absolute;
          top: 60px;
          right: 10px;
          width: 510px;
          min-height: 100px;
          max-height: 400px;
          overflow-y: scroll;
          background-color: #e3e3e3;
          border-radius: 5px;
          z-index: 100;
          transform: translateX(25px);
          transition: all 0.63s ease-in-out;
          &--hidden {
            display: none;
          }
        }
      }
    }
  }
  @media (min-width: 768px) {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.navbar_mobile {
  display: block;
  font-size: 1.5rem;
  @media (min-width: 768px) {
    display: none;
  }
  &__view {
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: #bd8888;
    &__user {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 1rem 0;
      width: 50%;
      &--avatar {
        width: 100%;
        height: 100%;
        img {
          object-fit: cover;
          border-radius: 12%;
          margin-left: 10px;
          border: 1px solid #1f17039a;
        }
      }
      &--name {
        font-size: 1.5rem;
        font-weight: 500;
        width: 250px;
        height: 1.5rem;
      }
      &--email {
        font-size: 1rem;
        font-weight: 400;
        margin: 0.15rem 0;
        width: 200px;
      }
      &--cart {
        background-color: #ffb300;
        position: absolute;
        top: 0;
        right: -180px;
      }
    }
    &__links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &--item {
        color: #262626;
        font-size: 2rem;
        margin: 1rem 0;
        &--login {
          color: #523900;
          border: 1px solid #ffb300;
          border-radius: 0.25rem;
          padding: 0.15rem 0.51rem;
          background-color: #ffb3003a;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: #6c6c6c;
            background-color: #ffb300;
          }
        }
        &--cart {
          .navbar-cart {
            position: relative;
            &__icon {
              position: absolute;
              top: 0;
              right: 0;
              font-size: 2rem;
              color: #262626;
              transition: all 0.3s ease-in-out;
              &:hover {
                cursor: pointer;
              }
            }
            &__amount {
              position: absolute;
              top: -4px;
              right: -10px;
              font-size: 1.2rem;
              @media screen and (max-width: 768px) {
                color: red;
              }
            }
          }
        }
      }
    }
  }
}
