@import '../../styles/mixins';
.login-view {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 550px;
    height: 100%;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 10px 0px rgba(101, 75, 75, 0.12);
    border-radius: 10px;
    &__login {
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 20px 50px;
      &__button {
        @include loginButton();
      }
    }
    &__register {
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 20px 50px;
      &__button {
        @include loginButton();
      }
    }
  }
}
