@import '../../styles/mixins';
@import '../../styles/colors';

.products {
  position: relative;
  width: 100%;
  height: 100%;
  &__controlPanel {
    position: absolute;
    top: 10px;
    right: 10px;
    @include customButton($bg_light, $components_dark, $letters_dark);
  }
  &__panel {
    width: 100%;
    height: 80px;
    margin-top: 10px;
    &--single {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 210px;
      @media screen and (min-width: 768px) {
        margin-right: 250px;
      }
    }
    &--visible {
      width: 70%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0;
      border-radius: 10px;
      box-shadow: 1px 1px 5px 1px #0000000d;
      input[type='text'] {
        width: 40px;
        height: 40px;
        font-size: 18px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
      }
      @media screen and (min-width: 400px) {
        width: 80%;
        padding: 10px;
        input[type='text'] {
          width: 80px;
          height: 40px;
          font-size: 18px;
          border: 1px solid #ccc;
          border-radius: 5px;
          padding: 5px;
        }
      }
      @media screen and (min-width: 768px) {
        width: 70%;
        padding: 10px;
        margin: auto;
        input[type='text'] {
          width: 170px;
          height: 40px;
          font-size: 18px;
          border: 1px solid #ccc;
          border-radius: 5px;
          padding: 5px;
        }
      }
    }
    &--hidden {
      display: none;
    }
  }
  &__content {
    width: 100%;
    height: 100%;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    &__item {
      position: relative;
      width: calc(100% / 2 - 10px);
      height: 300px;
      padding: 2px;
      border-radius: 4px;
      box-shadow: 1px 1px 5px 1px #8484840d;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: #f7f7f7b5;
      &--admin-icons {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        bottom: 0px;
        right: -6px;
        height: 100px;
        background-color: #ffffff;
        padding: 5px 7px;
        border-top-left-radius: 3px;
        z-index: 1;
        &--icon {
          transition: all 0.3s ease-in-out;
          z-index: 1;
          &:hover {
            cursor: pointer;
            border-radius: 3px;
            box-shadow: 1px 1px 5px 1px #848484e4;
          }
        }
      }
      &--details {
        position: absolute;
        top: 10px;
        left: 0;
        width: 80px;
        z-index: 1;
        color: #676767;
        display: flex;
        justify-content: center;
        @media (min-width: 768px) {
        }
        height: 80px;
      }
      &--add {
        position: absolute;
        top: 10px;
        right: -3px;
        background-color: #ffffff;
        padding: 5px 7px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        z-index: 1;
        &--icon {
          position: absolute;
          top: 0;
          right: 6px;
          font-size: 1.5rem;
          color: #262626;
          transition: all 0.3s ease-in-out;
          z-index: 1;
          &:hover {
            cursor: pointer;
          }
        }
      }
      &--image {
        position: relative;
        min-width: 150px;
        height: 250px;
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      &--info {
        width: 100%;
        margin-top: 14px;
        color: #676767;
        &--name {
          font-size: 1.1rem;
          font-weight: 600;
          margin: 5px 0;
        }
        &--description {
          font-size: 0.9rem;
          margin: 5px 0;
        }
        &--price {
          font-size: 1rem;
          font-weight: 400;
        }
      }
      @media screen and (min-width: 356px) {
        max-width: 46%;
        margin: 10px auto;
        padding: 0;
      }
      @media screen and (min-width: 768px) {
        max-width: 300px;
        margin: 15px;
        padding: 0;
      }
    }
    @media screen and (min-width: 768px) {
      padding: 25px;
      margin: 10px;
      justify-content: space-around;
    }
  }
}
