@import '../../styles/mixins';
@import '../../styles/colors';

.products {
  position: relative;
  width: 100%;
  height: 100%;
  &__controlPanel {
    position: absolute;
    top: 10px;
    right: 10px;
    @include customButton($bg_light, $components_dark, $letters_dark);
  }
  &__panel {
    width: 100%;
    height: 80px;
    margin: 10px;
    &--single {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 250px;
    }
    &--visible {
      display: block;
      width: 70%;
      display: flex;
      justify-content: space-around;
      margin: auto;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 1px 1px 5px 1px #0000000d;
    }
    &--hidden {
      display: none;
    }
  }
  &__content {
    width: 100%;
    height: 100%;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    &__item {
      position: relative;
      width: 90%;
      height: 350px;
      margin: 1px;
      padding: 2px;
      border-radius: 4px;
      box-shadow: 1px 1px 5px 1px #0000000d;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      &--name {
        position: relative;
        width: 100%;
        height: 50px;
        font-size: 1.2rem;
        font-weight: 500;
        border: 1px solid #00000015;
        display: flex;
        justify-content: center;
        align-items: center;
        &--icon {
          position: absolute;
          top: 0;
          right: 6px;
          font-size: 1.5rem;
          color: #262626;
          transition: all 0.3s ease-in-out;
          &:hover {
            cursor: pointer;
          }
        }
      }
      &--image {
        position: relative;
        width: 100%;
        height: 250px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
        &--price {
          font-size: 1.5rem;
          color: #262626;
          padding-right: 10px;
        }
      }
      &--buttons {
        width: 90%;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        &--buy {
          @include customButton($bg_light, $components_dark, $letters_dark);
        }
        &--details {
          @include customButton($bg_light, $components_dark, $letters_dark);
        }
      }
      @media screen and (min-width: 356px) {
        max-width: 46%;
        margin: 5px;
        padding: 0;
      }
      @media screen and (min-width: 768px) {
        max-width: 300px;
        margin: 5px;
        padding: 0;
      }
    }
    @media screen and (min-width: 768px) {
      padding: 10px;
      margin: 10px;
      justify-content: space-around;
    }
  }
}
